<table class="table table-striped">
  <thead>
    <th>LibPasserelle</th>
    <th>actions</th>
  </thead>
  <tbody>
    {% for passerelle in passerelles %}
    <tr>
      <td>{{ passerelle.LibPasserelle }}</td>
      <td>
        <form
          id="deleteClientPasserelleForm"
          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette passerelle ?')"
        >
          <input
            type="hidden"
            name="IdClient"
            value="{{ passerelle.IdClient }}"
          />

          <input
            type="hidden"
            name="IdPasserelle"
            value="{{ passerelle.IdPasserelle }}"
          />

          <button type="submit" class="btn btn-danger">🗑️</button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
